<h2>Sign Up</h2>

<form action="/users/create" method="POST">
  <input type="text" name="name" placeholder="Your Name" required>
  <input type="email" name="email" placeholder="Your Email" required>
  <input type="password" name="password" placeholder=" Password" required>
  <input type="password" name="confirm_password" placeholder="Confirm Password" required>
  <input type="submit" value="Signup">
</form>

<p>
  <a href="/users/auth/google">
     Google Signin/Signup
  </a>
</p>